body { background: #F0FFFF }
div { padding: 20px}
select { width: 240px;
         height: 34px;
         overflow: hidden;
         background: url(new_arrow.png) no-repeat right #ddd;
         border: 1px solid #ccc;}
button { padding: 20px;}
h1 { text-align: center}
body{ text-align: center}
